body {
  background-color: #352b48;
  font-family: "Lucida Sans Unicode", "Lucida     Grande", Sans-Serif;
  font-size: 14px;
  height: 100vh; 
  padding: 20px 0 20px 0;
  max-width: 850px;
  margin: 0 auto;
}
button {
    background-color: #FFDAB9;
    border: 15px solid #fff; 
    color: #352b48;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: block;
    max-width: 70%;
    max-height: auto;
    margin: 0 auto;
    margin-bottom: 40px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);

}
.titleCalendar{
  color: #FFDAB9;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  z-index: 100;
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 25%;
  letter-spacing: 3px;
  -webkit-text-shadow: 1px 2px 7px rgba(8,  8,  8, 1);
-moz-text-shadow: 1px 2px 7px rgba(8,  8,  8, 1);
text-shadow: 1px 2px 7px rgba(8,  8,  8, 1);

}

.wrapperCalendar {
  margin: 0 auto;
  border: 15px solid #fff; 
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
  max-width: 80%;
  height: 300px;
  background: white;
  position: relative;

}

.img {
    position: absolute; 
    top: 0;
    left: 55%;
    width: 45%;
    height: 100%;
    background-color: #000;
    user-select: none;
 }
.img img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

table {
  border-collapse: collapse;
  height: auto;
  width: 55%;
  height: 300px;
  border: none;
  background-color: white;
   
}

td, th {
      padding: 3px;
      text-align: center;
      border: none;
    }

td {
  
}
th {
  font-weight: bold;
  text-transform: uppercase;
  color: #352b48;

}

/* sm2 (>=571 и <=767) */
@media (min-width: 571px) and (max-width: 767px) {

  .titleCalendar{
  font-size: 18px;
  padding: 10px;
  top: 35%;
  left: 10%;
  letter-spacing: 2.5px;

}

}

/* xs (<=426px) */
@media (max-width: 426px) {

table {
  width: 30%;
}

.img {
    left: 60%;
    width: 40%;
}
.titleCalendar {
  font-size: 15px;
  padding: 10px;
  top: 30%;
  left: 10%;
  letter-spacing: 2.5px;

}

}

/* xxs (<=290px) */
@media (max-width: 290px) {

table {
  width: 25%;
}

.img {
    left: 65%;
    width: 35%;
}

.titleCalendar {
  font-size: 12px;
  padding: 10px;
  top: 35%;
  left: 0;
  letter-spacing: 2px;
}

}
